body{
  background-color:#B7D7A8;
}
/* create-#F0F0F0 */
button{
  cursor: pointer;
}
.create{
  margin: 15px 40px;
}
.flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex span{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
}
.previewButton{
  padding: 10px;
  background-color: white;
  text-transform: uppercase;
  border: none;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 36px;
}
.flex-date-div{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.previewDiv ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 39px;
}
.day,.header{
  background-color:#C5E0B5;
  padding: 0.5rem 5rem;
  text-transform: uppercase;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;
}
.tablediv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 2rem auto;
}
.tableStyle{
 width: 100%;
}
.align{
  text-align: center;
}
.previewDiv{
  background-color: white;
  width: 90%;
  text-align: center;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
}
.previewDiv h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 112px;
}
.previewDiv h2, .tasks{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 39px;
}
.previewDiv h2{
  font-size: 25px;
}

.inputStyle{
  background-color: white;
  border:none;
  width: 95%;
  padding: 6px;
  margin:2px ;
}
.header{
  width: 400px;
  margin: 20px auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.form-body{
  background-color: #F0F0F0;
  width: 80%;
  margin:40px auto;
  min-height: 100vh;
  border-radius: 36px;
  padding: 30px;
}
.date-display{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 160px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 36px;
}
.date-picker{
  display: flex;
  background: #C5E0B5;
  padding: 16px 24px 14px;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px 30px 0px 30px;
}
.calendar{
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0px 30px 20px 30px;
  position: absolute;
  z-index: 1;
  background: white;
  padding: 10px;

}
.calendar-buttons{
  font-family: 'Roboto';
  background: transparent;
  border: none;
  text-transform: uppercase;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.calendar-buttons:hover{
  color: #B7D7A8;
}
.clock{
  /* position: absolute; */
  background-color: white;
}
.timepicker{
  /* background: #FFFFFF; */
  width: 50%;
  padding: 20px;
  margin: 20px 30px;
}
.date-picker span,.selectTimeText{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
/* identical to box height, or 160% */

letter-spacing: 1.5px;
text-transform: uppercase;
}
.add-row-button{
  background: #C5E0B5;
  border-radius: 13px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  border: none;
  /* font-family: 'Poppins'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-left: 82px;
  margin-top: 30px;
}
a{
  text-decoration: none;
}
.save-button,.create{
  background: #FE0316;
  border-radius: 19px;
  border: none;
  padding: 5px 13px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
}
.save-button{
  margin-top: 180px;
}
.disable-btn{
  margin-top: 180px;
  background:#ff6f7b ;
  color: white;
  border-radius: 19px;
  border: none;
  padding: 5px 13px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
}
.button{
  display: flex;
  justify-content: end;
}
.loader {
  margin-top: 185px;
  margin-right: 10px;
  border: 5px solid #c2c2c2; 
  border-top: 5px solid grey; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.time-display{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.time{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  background: white;
  border: none;
  cursor: pointer;
}
.hour,.minutes{
  background: rgba(33, 33, 33, 0.08);
  padding: 20px;
  border-radius: 4px;
  
}
.colon,.hour,.minutes{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
border-radius: 4px;
}

.time div{
  border: 1px solid #DADCE0;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
padding: 15px;
line-height: 20px;
}
.flex-div{
  display: flex;
  /* align-items: center; */
}
.task-input{
  width: 100%;
  margin-top: 150px;
}
.task-input span{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.01em;
color: #6F7482;
text-transform: uppercase;
}
.task-input input{
  background: #F8FAFC;
border-radius: 4px;

padding: 12px;
}
.task-input input:focus{
  border: 0px solid white;
}
